@{
    ViewData["Title"] = "Our slogan and sales policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our slogan:</p>
<p>Customer satisfaction is first.</p>

<p>Our sales policy:</p>
<p>Our shop is committed to selling genuine products, with the correct design and quality as advertised.</p>
<p>Listed price is the payment price including taxes and delivery fees.</p>
<p>Customers just need to choose favorite product and put it in the cart. Our shop will contact you immediately and inform you of the exact delivery time.</p>
<p>Customers only pay when you have inspected the goods and are completely satisfied.</p>
<p>Loyal customers can pay after trying it out.</p>
<p>Customers can exchange goods within 7 days.</p>
<p>Genuine warranty policy.</p>
